---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for p in collections.all %}
  {%- if p.url and p.url != "/404.html" %}
  <url>
    <loc>{{ site.url }}{{ p.url }}</loc>
    {%- if p.data.tags and "posts" in p.data.tags %}
    <lastmod>{{ p.date | iso }}</lastmod>
    <changefreq>monthly</changefreq><priority>0.7</priority>
    {%- elif p.url == "/" %}
    <changefreq>monthly</changefreq><priority>1.0</priority>
    {%- elif p.url == "/learn/" %}
    <changefreq>weekly</changefreq><priority>0.8</priority>
    {%- elif p.url == "/privacy-terms/" %}
    <changefreq>yearly</changefreq><priority>0.3</priority>
    {%- else %}
    <changefreq>monthly</changefreq><priority>0.9</priority>
    {%- endif %}
  </url>
  {%- endif %}
  {%- endfor %}
</urlset>
